---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";
import DefaultLayout from "../layouts/defaultLayout.astro";
import CorteLaser from '../assets/CorteLaser.png';
import ItemNovedades from "../components/ItemNovedades/ItemNovedades";
import { Icon } from 'astro-icon';
---

<DefaultLayout>
	<Header title={SITE_TITLE} />
	<main>
		<section>
				<div class="Img">
					<img src="/CorteLaser.png"/>
				</div>
				<div class="Content">
					<article>
						<h2>¿Quienes Somos?</h2>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Consectetur, ratione rerum, eaque voluptates aliquam
							repellendus, dolorem harum praesentium itaque necessitatibus
							tempora exercitationem id eos eligendi esse animi ut hic?
							Cupiditate.
						</p>
					</article>
				</div>
		</section>
		<section class="Banner">
			<div>
				<ItemNovedades client:visible />
				<p>Empresa 100% Mexicana</p>
				
			</div>
			<div>
				<ItemNovedades client:visible />
				<p>+ 1,000 clientes satisfechos</p>
			</div>
			<div>
				<ItemNovedades client:visible />
				<p>Satisfacción del cliente</p>
			</div>
		</section>
	</main>
	<Footer />
</DefaultLayout>

<style>
	section{
		display: flex;
		height: 30em;
	}
	article{
		width: 70%;
	}
	.Img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: 100%;
	}

	.Img img{
		width: 100%;
		height: 100%;
	}
	.Content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 100%;
	}
	.Banner{
		background-color: #5A451C;
		width: 100%;
		height: 300px;
		display: flex;
		align-items: center;
		justify-content: :space-between;
	}
	.Banner div{
		width: 33%;
		height: 250px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.Banner p{
		color: white;
		font-size: 12px;
		margin-top: 50px;
	}
</style>

